$-colors: (
  'primary': (
    'base': rgba(107,33,168, 1),
  ),
  'success': (
    'base': #67c23a,
  ),
  'warning': (
    'base': #e6a23c,
  ),
  'danger': (
    'base': #f56c6c,
  ),
  'error': (
    'base': #f56c6c,
  ),
  'info': (
    'base': #909399,
  ),
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $-colors
);

@use './dark.scss';

.el-dialog__headerbtn {
  font-size: 20px;
  width: 32px;
  height: 32px
}

.el-form-item {
  flex-direction: column;
  width: 300px;
}

.el-form-item__label {
  justify-content: left;
}

.el-header {
  position: relative;
  border: var(--border) solid 1px;
}
.el-aside {
  border: var(--border) solid 1px;
}
.el-menu {
  border-right: none;
}
.el-main {
  padding: var(--gap);
}